# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Distribution
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Runtime
*.log.bak
